.project-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 6rem;
}

/* project summary */
.project-summary {
  background-color: #fff;
  padding: 3rem;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  box-shadow: 3px 7px 5px rgb(141 52 69 / 10%);
}

.project-summary .due-date {
  margin: 0.1rem 0;
  font-size: 0.9em;
  color: #444;
}

.project-summary .details {
  margin: 3rem 0;
  color: #8f3545;
  line-height: 1.8em;
  font-size: 0.9em;
}

.project-summary h4 {
  color: #444;
  font-size: 0.9em;
}

.project-summary .assigned-users {
  display: flex;
  margin-top: 2rem;
}

.project-summary .assigned-users .avatar {
  margin-right: 1rem;
}

.project-summary + .btn {
  margin-top: 2rem;
}

/* project comments */
.project-comments label {
  margin-bottom: 0px;
}

.project-comments textarea {
  min-height: 4rem;
  font-size: 1.2em;
}

/* comment list */
.project-comments h4 {
  color: var(--heading-color);
}

.project-comments li {
  padding: 1.6rem;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  margin-top: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.comment-author {
  display: flex;
  align-items: center;
  color: var(--title-color);
}

.comment-author .avatar {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.comment-date {
  color: #444;
  font-size: 0.65em;
  margin: 4px 0 10px;
}

.comment-content {
  color: #8f3545;
  font-size: 0.9em;
}
