.auth-form {
  max-width: 36rem;
  margin: 6rem auto;
  padding: 4rem;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.auth-form h2 {
  text-transform: capitalize;
  color: #8f3545;
}
