@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-size: 62.5%;
}

/* base styles */
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  font-size: 2em;
  background: white;
}

/* 893040 */
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  /* color: #444; */
  display: inline-block;
}

.btn {
  background: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  color: #8f3545;
  cursor: pointer;
  font-size: 1em;
  border: 0.1rem solid #8f3545;
}

.btn:hover {
  color: #fff;
  background-color: #8f3545;
}

/* forms */
label {
  display: block;
  margin: 2.4rem auto;
}
label span {
  display: block;
  margin-bottom: 0.6rem;
  text-transform: capitalize;
}

input,
textarea {
  padding: 0.8rem 0.6rem;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  /* border: 1px solid #ddd; */
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

textarea {
  min-height: 16rem;
}
.error {
  color: white;
  background: #8f3545;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 0.8rem;
  margin: 1rem 0;
}
